<main>
  <!-- HEADER -->
  <header>
    <!-- Brand Details -->
    <section class="brand-group">
      <nav>
        <!-- Explicitly close dropdown on navigation instead of toggling state -->
        <a routerLink='' (click)="isExpanded = false">
          <img class="brand-logo" src="/brand/plane-logo.svg" alt="An image of a paper plane with a trail marking its path"/>
        </a>
      </nav>
      <h1>The Flying Goats</h1>
    </section>

    <!-- Navigation Links -->
    <nav class="nav-links-group">
      <!-- Hide AdminDashboard component from non admins -->
      @if ((authService.adminStatus$ | async) || (userService.currentRole$ | async ) === "Pilot") {
        <section class="nav-link"> 
          <a routerLink="/dashboard">Dashboard</a>
          <img src="/header/navlink/navlink-arrow.svg" />
        </section>
      }

      <!-- Only normal users can book flights now -->
      @if ((authService.authenticated$ | async) && (userService.currentRole$ | async) !== 'Pilot' && !(authService.adminStatus$ | async)) {
        <section class="nav-link"> 
          <a routerLink="/book-flight"> Book a Flight</a>
          <img src="/header/navlink/navlink-arrow.svg" />
        </section>
      }

      <section class="nav-link"> 
        <a routerLink="/about"> About </a>
        <img src="/header/navlink/navlink-arrow.svg" />
      </section>
    </nav>

    <!-- User Profile -->
    <section class="dropdown">
      <p>Login/Register</p>
      <a (click)="handleProfileClick()">
        <img class="profile-dropdown" 
          [src]="isExpanded ? clickedImg : defaultImg" 
          alt="A flat image of a person" 
          (click)="toggleExpanded()" />
      </a>
      <div class="dropdown-content" 
        [style.display]="isExpanded ? 'block' : 'none'">
        <!-- See login.ts (goToRegister()) for more details
        on what this does -->
        <!-- Keywords: Secondary (named) outlet [angular] -->
        <router-outlet name="dropdown"></router-outlet>
      </div>
    </section>
  </header>

  <!-- ---------- -->
  <!-- CONTENT -->
  <!-- Manual separator to make it visually distinct -->
  <!-- ---------- -->
  <section class="content">
    <router-outlet />
  </section>

</main>
