/* Background Settings */
.bg {
    /* 
    "vh" (and vw) stands for the user's browser window size. 
    This makes elements (the background in this case), automatically
    adjust when the browser screen changes size.
    (Check it out).*/
    min-height: 100vh;

    position:relative;
    background-image: url("/bg/home-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* This is a pseudo element that doesn't appear in
the HTML file. */
/* This also creates the "fake" black overlay image. */
.bg::before {
    /* Needs to exist if using the ::before tag */
    content: "";
    position: absolute;

    /* Since we want to cover the entire screen, set distance (inset) to the parent view (.bg) to be 0 on all sides. */
    inset: 0;

    /* We can get away with this as long as 'forwards' exists in the animation property */
    background-color: black;
    z-index: 0;

    animation: bg-opacity 1800ms forwards;
}

/* Raise ALL direct child elements of .bg to be closer to the screen
(z-index) */
.bg > * {
    position: relative;
    z-index: 1;
}

/* Home Page Content */
.center {
    /* Removing this will apply a scrollbar to the plane image, so pls don't */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 65px;

    & .left {
        display: flex;
        align-items: center;
        justify-content: center;

        flex-direction: column;
        color: white;
        
        margin: -20% 0 0 18%;

        & h1 {
            font-size: 3em;
        }

        & a {
            align-self: flex-start;
            margin-top: 100px;
            font-weight: 600;

            &:hover {
                cursor: pointer;
            }
        }

        & .goats {
            font-size: 3.1em;
            font-style: italic;
            animation: margin-slide-left 2000ms;
        }
    }

    & .right {
        margin: -90px 50px 0 0;
        animation: slide-up 1800ms;

        & img {
        width: 100%;
        animation: slide-up 1800ms;
        }
    }
}

.box {
    background-color: var(--primary-header-color);
    width: 600px;
    height: 400px;
    border-radius: 20px;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes margin-slide-left {
    from {
        margin-left: 50%;
        opacity: 0;
    }
    to {
        margin-left: 0%;
        opacity: 1;
    }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

/* Background Animations */
@keyframes bg-opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}
