.main {
    background-color:blue;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 50px;

    & > * {
        margin-top: 70px;
    }
}

.profile-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;

    height: 370px;
    width: 300px;
    
    gap: 30px;
    overflow-wrap: anywhere;
    & .info {
        text-align: center;
        line-height: 1.5;
        margin-top: -60px;
        padding: 0 20px;
        
        & h2 {
            margin-top: 10px;
            color: var(--primary-color);
        }
        
        & img {
            width: 120px;
            height: 120px;
        }
    }

    /* Horizontal line */
    & hr {
        border: 1px solid;
        width: 200px;
        margin-top: -20px;
        margin-bottom: 30px;
    }
    
    & .bio {
        font-style: italic;
    }
    
}

.reservation-view {
    background-color: whitesmoke;
    width: 1000px;
    height: 500px;

    & .tab {
        display: flex;
        align-items: center;
        justify-content: space-around;

        background-color: var(--primary-color);
        height: 50px;

        & button {
            cursor: pointer;
            font-size: medium;
            font-weight: bold;
            color: white;
            background-color: inherit;
            border: none;

            width: 100%;
            height: 100%;

            transition: background-color 0.2s;

            &:hover {
                background-color: #2b4e8f;
            }
        }
    }

    & .content {
        margin: 20px;
        padding: 30px;
    }
}