/* Background settings */

.et {
  min-height: 100vh;
  position:relative;
  background-image: url("/bg/home-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Dim background*/
.et::before {
    /* Needs to exist if using the ::before tag */
    content: "";
    position: absolute;

    /* Since we want to cover the entire screen, set distance (inset) to the parent view (.bg) to be 0 on all sides. */
    inset: 0;
    background-color: black;
    opacity: 0.3;
    z-index: 0;
}

/* Raise ALL direct child elements of .bg to be closer to the screen
(z-index) */
.bg > * {
    position: relative;
    z-index: 1;
}

/* Home Page Content */
.center {
    gap: 100px;
}