<main>
    <header>
        <h1>Analytics</h1>
        <button class="refresh" (click)="refresh()">Refresh</button>
    </header>

    <section class="analytics">
        <!-- USER STATS -->
        <div class="stat-group">
            <!-- top 3 users who book the most often -->
            <details>
                <summary>Top 3 Most Active Users</summary>
                <ul>
                    @for (row of top3Users$ | async; track $index) {
                        <li>
                            <strong>{{row.user}}</strong>
                            <span>
                                <i>{{row.amount}}</i>
                                reservations
                            </span>
                        </li>
                    }
                </ul>
            </details>

            <!-- users who have been registered the longest -->
            <details>
                <summary>Longest Registered Users</summary>
                <ul>
                    @for (row of longestRegisteredUsers$ | async; track $index) {
                        <li>
                            <strong>{{row.user}}</strong>
                            <span>
                                <i>{{row.days}}</i>
                                days
                            </span>
                        </li>
                    }
                </ul>
            </details>

            <!-- users who made a reservation this month -->
            <details>
                <summary>Active Users This Month</summary>
                <p style="font-size: 2rem; font-weight: bold; text-align: center;">{{activeUsersThisMonth$ | async }}</p>
                <p style="text-align: center; font-size: small;">booked flights as of this month</p>
            </details>
        </div>

        <!-- RESERVATION STATS -->
        <div class="stat-group">
            <!-- amount of reservations this month (not last 30 days) -->
            <details>
                <summary>Reservations This Month</summary>
                <p style="font-size: 2rem; font-weight: bold; text-align: center;">{{reservationsThisMonth$ | async}}</p>
                <p style="text-align: center; font-size: small;">as of this month</p>
            </details>

            <!-- all reservations this year categorized by month -->
            <details>
                <summary>Reservations Per Month</summary>
                <ul>
                    @for (row of perMonthReservations$ | async; track $index) {
                        <li>
                            <strong>{{row.month}}</strong>
                            <span [class.dimmed]="row.monthlyReservations === 0">
                                <i>{{row.monthlyReservations}}</i>
                                reservations
                            </span>
                        </li>
                    }
                </ul>
            </details>

            <details>
                <summary>Total Reservations This Year</summary>
                <p style="font-size: 2rem; font-weight: bold; text-align: center;">{{totalReservationsThisYear$ | async}}</p>
                <p style="text-align: center; font-size: small;">as of this year</p>
            </details>
        </div>

        <!-- CANCELLATION STATS -->
        <div class="stat-group">
            <!-- total cancellations -->
            <details>
                <summary>Total Cancellations</summary>
                <p style="font-size: 2rem; font-weight: bold; text-align: center;">{{totalCancellations$ | async}}</p>
                <p style="text-align: center; font-size: small;">all cancelled bookings on record</p>
            </details>

            <!-- total cancellations this month -->
            <details>
                <summary>Total Cancellations This Month</summary>
                <p style="font-size: 2rem; font-weight: bold; text-align: center;">{{totalCancellationsThisMonth$ | async}}</p>
                <p style="text-align: center; font-size: small;">cancelled bookings this month</p>
            </details>

            <details>
                <summary>Cancellations This Month By Category</summary>
                <ul>
                    @for (row of cancellationsThisMonthByCategory$ | async; track $index) {
                        <li>
                            <strong>{{row.category}}</strong>
                            <span>
                                <i>{{row.amount}}</i>
                                cancellations
                            </span>
                        </li>
                    }
                </ul>
            </details>
        </div>

        <!-- STAFF STATS -->
        <div class="stat-group">
            <!-- top 3 STAFF who book the most often -->
            <details>
                <summary>Top 3 Staff</summary>
                <ul>
                    @for (row of topStaffThisMonth$ | async; track $index) {
                        <li>
                            <strong>{{row.staff}}</strong>
                            <span>
                                <i>{{row.amount}}</i>
                                bookings
                            </span>
                        </li>
                    }
                </ul>
            </details>
        </div>
    </section>
</main>
