<main>
  <section class="book-flight">
    <form id="searchTerms" [formGroup]="searchTerms" (ngSubmit)="searchFlights()">
    <header>Book a Flight</header>
    <section class="flight-options">
      <div class="location">
        <section class="from">
          <img src="/book-flight/map-marker.svg" />
          <div class="wrapper">
            <label for="origin">From</label>
            <input formControlName="origin" id="origin" type="text" placeholder="Enter City or Airport" autocomplete="off" spellcheck="false" (focus)="originFocused = true" (blur)="originFocused = false" required/>
            @if (originFocused) {
              <ul class="suggestions">
                @for (airport of originAirports$ | async; track $index) {
                  <li (mousedown)="setOrigin(airport)">
                    <span class="place">{{airport.place}}</span> 
                    <span class="code">{{airport.IATA}}</span>
                  </li>
                } @empty {
                  <li>No results found.</li>
                }
              </ul>
            }
          </div>
        </section>
        <section class="to">
          <img src="/book-flight/map-marker.svg" />
          <div>
            <label for="destination">To</label>
            <input formControlName="destination" id="destination" type="text" placeholder="Enter City or Airport" autocomplete="off" spellcheck="false" (focus)="destFocused = true" (blur)="destFocused = false" required/>
            @if (destFocused) {
              <ul class="suggestions">
                @for (airport of destinationAirports$ | async; track $index) {
                  <li (mousedown)="setDestination(airport)">
                    <span class="place">{{airport.place}}</span> 
                    <span class="code">{{airport.IATA}}</span>
                  </li>
                } @empty {
                  <li>No results found.</li>
                }
              </ul>
            }
          </div>
        </section>
      </div>
      <div class="dates">
        <img src="/book-flight/calendar.svg" />
        <section>
          <label>Depart & Return</label>
          <mat-form-field class="mat-dates">
            <mat-date-range-input [formGroup]="searchTerms" [rangePicker]="picker" [min]="MIN_DATE" [max]="MAX_DATE">
            <input matStartDate placeholder="Depart date" formControlName="departureDate" required>
            <input matEndDate placeholder="Return date" formControlName="arrivalDate" required>
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker startView="month" [startAt]="currentDate"></mat-date-range-picker>
          </mat-form-field>
        </section>
      </div>
      <div class="submit">
        <button type="submit" [disabled]="!searchTerms.valid">Search Flights</button>
        <button type="button" (click)="onSubmit()" [disabled]="!(outboundFlight.valid && inboundFlight.valid)">Book Flight</button>
      </div>
    </section>
    </form>
  </section>

  <section class="pick-flight">
    <header>Available Flights</header>
    <section class="tab">
      <div class="depart">
        <input type="radio" name="tab" id="depart" (change)="activeTab = 'depart'" checked/>
        <label for="depart">Departing Flights</label>
      </div>
      <div class="return">
        <input type="radio" name="tab" id="return" (change)="activeTab = 'return'" [disabled]="!hasSelectedDeparture"/>
        <label for="return">Returning Flights</label>
      </div>
    </section>
    <section class="flight-choices">
      @switch(activeTab) {
        @case ("depart") {
          @for (flight of departingFlights$ | async; track $index) {
            <div class="choice">
            <input name="flight" type="radio" [id]="$index" [value]="$index" [checked]="activeOutboundFlight === $index" (change)="selectFlight($index, flight, 'outbound')" required/>
            <label [for]=$index>
              <div class="header">
                <p>DEPART</p>
                <p>→</p>
                <p>ARRIVE</p>
              </div>
              <div class="time">
                <p>{{flight.liftOff}}</p>
                <span class="duration">
                  {{flight.duration}}
                </span>
                <p>{{flight.landing}}</p>
              </div>
              <div class="airport">
                <p>{{flight.origin_IATA}}</p>
                <p>→</p>
                <p>{{flight.destination_IATA}}</p>
              </div>
            </label>
    
            <button [attr.popovertarget]="'seat-modal-' + $index" [disabled]="activeOutboundFlight !== $index">Select Seat</button>
            <dialog class="seat-modal" #seatModal [id]="'seat-modal-'+$index" popover>
              <app-seat-selector-modal [planeCapacity]="flight.capacity" [scheduleID]="flight.scheduleID!" [currentActiveSeat]="activeOutboundSeat!" (seatID)="setSeatID($event, 'outbound')"/>
            </dialog>
          </div>
          } @empty {
            <p>No flights matched.</p>
          }
        }
        @case ("return") {
          @for (flight of returningFlights$ | async; track $index) {
            <div class="choice">
            <input name="flight" type="radio" [id]="$index" [value]="$index" [checked]="activeInboundFlight === $index" (change)="selectFlight($index, flight, 'inbound')" required/>
            <label [for]=$index>
              <div class="header">
                <p>DEPART</p>
                <p>→</p>
                <p>ARRIVE</p>
              </div>
              <div class="time">
                <p>{{flight.liftOff}}</p>
                <span class="duration">
                  {{flight.duration}}
                </span>
                <p>{{flight.landing}}</p>
              </div>
              <div class="airport">
                <p>{{flight.origin_IATA}}</p>
                <p>→</p>
                <p>{{flight.destination_IATA}}</p>
              </div>
            </label>
    
            <button [attr.popovertarget]="'seat-modal-' + $index" [disabled]="activeInboundFlight !== $index">Select Seat</button>
            <dialog class="seat-modal" #seatModal [id]="'seat-modal-'+$index" popover>
              <app-seat-selector-modal [planeCapacity]="flight.capacity!" [scheduleID]="flight.scheduleID!" [currentActiveSeat]="activeInboundSeat!" (seatID)="setSeatID($event, 'inbound')"/>
            </dialog>
          </div>
          } @empty {
            <p>No flights matched.</p>
          }
        }
      }
    </section>
  </section>

</main>