.modal {
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* makes the layer invisible */
.modal-layer:empty {
    display:none
}

main {
    padding: 35px;
}

header {
    margin-bottom: 45px;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

.nav-box {
    background-color: whitesmoke;
    border: 3px solid rgb(74, 74, 74);
    border-radius: 5px;
    width: 260px;
    height: 30px;
    padding: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;

    font-size: 1.3rem;

    transition: background-color 260ms;

    cursor: pointer;

    &:hover {
        background-color: rgb(214, 214, 214);
    }

    & img {
        height: 50px;
        width: 50px;
    }

    & .nav-title {
        color: var(--primary-color);
        font-weight: bold;
    }
}